.mat-form-field {
  width: 575px !important;
  margin-right: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 100%;
}

.mat-label{
  font-size: medium;
}
