.mat-table{
  box-shadow: none;
}

.user-table{
  border: 1px solid floralwhite;
  -webkit-box-shadow: 0 0 4px -1px rgb(250 25 25 / 12%);
}

.mat-column-productId {
  flex: 0 0 10%;
}

.w-6{
  max-width: 75px;
  min-width: 24px;
}

.icon-color{
  color: #cc2222;
}
