<app-spinner *ngIf="loader"></app-spinner>
<div [className]="'container'">
  <form [className]="'form-container'" action="" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div>
      <mat-form-field  appearance="outline">
        <mat-label>National ID</mat-label>
        <input matInput readonly placeholder="National ID" formControlName="nationalId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput readonly placeholder="Full Name" formControlName="fullName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Town</mat-label>
        <input matInput readonly placeholder="Town" formControlName="town">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <input matInput readonly placeholder="District" formControlName="district">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput readonly placeholder="Gender" formControlName="gender">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input matInput readonly placeholder="Birth Date" formControlName="birthDate">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Primary Contact Number</mat-label>
        <input matInput readonly placeholder="Primary Contact Number" formControlName="primaryContactNumber">
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Emergency Contact Number</mat-label>
        <input matInput readonly placeholder="Emergency Contact Number" formControlName="emergencyContactNumber">
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>UserType</mat-label>
        <input matInput readonly placeholder="UserType" formControlName="userType">
      </mat-form-field>
      <mat-divider></mat-divider>
      <h3 class="topic"><b>Vaccination Data</b></h3>
      <br>
      <div  class="vc-cards">
        <div *ngFor="let data of vcData" class="dataCard">
            <div>
              <h3 class="vc-data">Dose Number : <b>{{data.vaccineDoseNumber}}</b></h3>
              <h3 class="vc-data">Vaccine Type : <b>{{data.vaccineType}}</b></h3>
            </div>
            <div class="bottom-data">
              <h3 class="vc-data">Vaccinated Date : <b>{{data.vaccinatedDate.toString()}}</b></h3>
              <h3 class="vc-data">Vaccinated Place : <b>{{data.vaccinatedPlace}}</b></h3>
            </div>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <h3 class="topic"><b>Change user Validation</b></h3>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Validation</mat-label>
        <mat-select formControlName="isVertified">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button [ngStyle]="{'margin-bottom':'10px'}" type="submit" mat-raised-button color="warn">Edit</button>
      <br>
      <mat-divider></mat-divider>
    </div>
  </form>
</div>
<h3 class="topic"><b>User Passes</b></h3>
<br>
<div *ngIf=" !loader && passes.length>=1 "  class="pass-container">
  <app-pass-card *ngFor="let pass of passes"
                 [endDate]="onlyDate(pass.endDateTime)"
                 [from]="pass.from"
                 [generateDateTime]="onlyDate(pass.generatedDateTime)"
                 [isApproved]="pass.isApproved"
                 [isValid]="pass.isValid"
                 [passCategory]="pass.passCategory"
                 [startDate]="onlyDate(pass.startDateTime)"
                 [to]="pass.to"
                 (someEvent)="editPass(pass)"
                 (deleteEvent)="deletePass(pass)"
  ></app-pass-card>
</div>

