

  <div class="container">
    <h2>Get the passes you need, when you need them</h2>
    <p>Are you tired of struggling to get the right pass for your essential activities during lockdown? Covid
      Pass
      is here to help. With our streamlined process, you can easily generate passes for a variety of tasks,
      including going to work and seeking medical attention.</p>
    <h3>How it works</h3>
    <ol>
      <li>Sign up for an account and complete your profile</li>
      <li>Select the type of pass you need</li>
      <li>Provide any necessary documentation (such as proof of employment or a doctor's note)</li>
      <li>Generate your pass and print it out, or save it to your phone for easy access</li>
    </ol>
    <button [routerLink]="['/register/organization']" mat-raised-button color="warn">Sign Up</button>
    <button [routerLink]="['/login/organization-login']" mat-raised-button color="warn">Sign In</button>

    <div class="img-slider">
      <div class="info">

        <p>Download the app to your phone and you can access your passes on the go.</p>
      </div>
      <div class="slides">

        <div class="slide active">
          <img src="s1.png" alt="">

        </div>
        <div class="slide">
          <img src="s2.png" alt="">

        </div>
        <div class="slide">
          <img src="s3.png" alt="">

        </div>
        <div class="slide">
          <img src="s4.png" alt="">

        </div>
        <div class="navigation">
          <div class="btn active"></div>
          <div class="btn"></div>
          <div class="btn"></div>
          <div class="btn"></div>
        </div>
      </div>
    </div>
    <script src="landing-page.js"></script>
  </div>


