<app-spinner *ngIf="loader"></app-spinner>
<div [className]="'container'">
  <form [className]="'form-container'" action="" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div>
      <mat-form-field  appearance="outline">
        <mat-label>National ID</mat-label>
        <input matInput readonly placeholder="National ID" formControlName="nationalId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput readonly placeholder="Full Name" formControlName="fullName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Town</mat-label>
        <input matInput readonly placeholder="Town" formControlName="town">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <input matInput readonly placeholder="District" formControlName="district">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput readonly placeholder="Gender" formControlName="gender">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Primary Contact Number</mat-label>
        <input matInput readonly placeholder="Primary Contact Number" formControlName="primaryContactNumber">
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Emergency Contact Number</mat-label>
        <input matInput readonly placeholder="Emergency Contact Number" formControlName="emergencyContactNumber">
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>UserType</mat-label>
        <input matInput readonly placeholder="UserType" formControlName="userType">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <mat-select formControlName="isVertified">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error >District is required</mat-error>
      </mat-form-field>
      <br>
    </div>
    <div>
      <button [ngStyle]="{'margin-top':'10px'}" type="submit" mat-raised-button color="warn">Edit</button>
      <button [ngStyle]="{'margin-top':'10px','margin-left':'20px'}" (click)="goBack()" mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
