<app-spinner *ngIf="loader"></app-spinner>
<div class="user-table">
  <mat-table class="mat-elevation-z0" *ngIf="organizations" class="lessons-table mat-elevation-z8" [dataSource]="organizations">

    <ng-container matColumnDef="organizationName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.organizationName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="organizationType">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let element">{{element.organizationType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isApproved">
      <mat-header-cell *matHeaderCellDef>Is approved</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let element"><mat-icon [ngStyle]="{margin:'0px 20px',color:element.isApproved?'green':'red'}">{{element.isApproved?"check":"close"}}</mat-icon></mat-cell>
    </ng-container>

<!--    <ng-container matColumnDef="more">-->
<!--      <mat-header-cell [ngClass]="'w-6'" *matHeaderCellDef>More</mat-header-cell>-->
<!--      <mat-cell [ngClass]="'w-6'" *matCellDef="let element">-->
<!--        <button style="bottom: 0rem" mat-icon-button color="primary" aria-label="Example icon button with a home icon"-->
<!--                (click)="selectOrganization(element)">-->
<!--          <mat-icon>more</mat-icon>-->
<!--        </button>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="edit">
      <mat-header-cell [ngClass]="'w-6'" *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell [ngClass]="'w-6'" *matCellDef="let element">
        <button style="bottom: 0rem" mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                (click)="openPreview(element)">
          <mat-icon>rate_review</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell [ngClass]="'w-6'" *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell [ngClass]="'w-6'" *matCellDef="let element">
        <button style="bottom: 0rem" mat-icon-button color="warn" aria-label="Example icon button with a home icon"
                (click)="organizationDelete(element)">
          <mat-icon class="icon-color">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
