<div class="pass-card-form">
  <div class="pass-card">
    <div class="data-card-container">
      <div class="data-card">
        <br>
        <mat-icon>event_available</mat-icon>
        <span>Start Date</span>
        <span> {{startDate}}</span>
      </div>
      <div class="data-card">
        <br>
        <mat-icon>event_busy</mat-icon>
        <span>End Date</span>
        <span> {{endDate}}</span>
      </div>
      <div class="data-card">
        <br>
        <mat-icon [ngStyle]="{'color':'#00DC10'}" *ngIf="isApproved">done</mat-icon>
        <mat-icon [ngStyle]="{'color':'red'}" *ngIf="!isApproved">close</mat-icon>
        <span>Is Approved</span>
        <span> {{isApproved}}</span>
      </div>
      <div class="data-card">
        <br>
        <mat-icon> local_play</mat-icon>
        <span>Pass Category</span>
        <span> {{passCategory}}</span>
      </div>
      <div class="data-card loc">
        <br>
        <mat-icon>my_location</mat-icon>
        <span>From</span>
        <span> {{from}}</span>
      </div>
      <div class="data-card loc">
        <br>
        <mat-icon>pin_drop</mat-icon>
        <span>To</span>
        <span> {{to}}</span>
      </div>

    </div>
    <div class="button-container">
      <button *ngIf="!isApproved" [ngStyle]="{'margin-bottom':'10px'}" (click)="callParent()" mat-raised-button color="warn">Approve</button>
      <button [ngStyle]="{'margin-bottom':'10px'}" (click)="delete()" mat-raised-button color="warn">Delete</button>
    </div>

  </div>
</div>
